* {
    font-size: 100%;
    font-family: Calibri, sans-serif;
}

.dropdownMenu {
    margin-top: 0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    min-height:200px;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-size: 25px;
    font-weight: bold;
}

h4 {
    font-size: 20px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    list-style-position: none;
    padding: 0;
}

.split-list-2 {
    column-count: 2;
    margin: 0 auto;
}

.split-list-3 {
    column-count: 3; 
}

.split-list-item {
margin: 0 0 10px 0;
justify-content: space-between;
min-width: 300px;
}

i {
    vertical-align: middle;
}

.title {
    font-size: 100px;
    color: white;
}

.sticky {
    position: sticky;
    top: 0;
    visibility: visible;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.category {
    padding-top: 80px;
}