:export {
  iconBackground: #5bc0de;
  iconForeground: white; }

* {
  font-size: 100%;
  font-family: Calibri, sans-serif;
  scroll-behavior: smooth; }

p {
  font-size: 1.5em;
  line-height: 200%; }

h1 {
  text-align: center; }

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 10em !important;
    text-align: center; } }

h2 {
  font-size: 4em;
  font-weight: bold;
  color: #5bc0de; }

h3 {
  font-size: 2em;
  color: #ca8317; }

h4 {
  font-size: 2em;
  font-weight: bold;
  color: #ca8317; }

h5 {
  font-size: 1.5em;
  font-weight: bold; }

body {
  background-color: #fffaf0; }

ul {
  list-style-type: none;
  list-style-position: none;
  padding: 0; }

span {
  vertical-align: middle; }

.link {
  font-size: 20px !important;
  color: #ca8317;
  margin: 30px;
  text-align: center; }

.link:hover {
  text-decoration: none;
  color: #5bc0de; }

.title {
  font-size: 100px;
  color: white; }

.title-img {
  background-image: url(/images/toronto.jfif);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0; }

.pulse-button {
  position: absolute;
  bottom: 0;
  border: 0;
  background: #5bc0de;
  box-shadow: 0 0 0 0 black;
  transform: scale(1);
  animation: pulse 2s infinite; }

.pulse-button:hover {
  background-color: white;
  color: #5bc0de;
  animation: none; }

.pulse-button:focus {
  background-color: #5bc0de;
  color: white;
  animation: none; }

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #5bc0de; }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(0, 0, 0, 0); }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); } }

.sticky {
  position: sticky;
  top: 0;
  visibility: visible;
  z-index: 10;
  transition: all 0.3s ease-in-out; }

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out; }

.dropdownMenu {
  margin-top: 0px; }

.dropdown-button-row {
  background-color: white !important; }

.dropdown-button-row:hover {
  background-color: #5bc0decc !important; }

.dropdown-button {
  color: #5bc0de !important; }

.dropdown-button:hover {
  color: white !important; }

.category {
  padding-top: 100px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  min-height: 200px; }

.location {
  color: #5bc0de; }

.icon-container {
  background-color: #5bc0de; }

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.split-list-3 {
  column-count: 2;
  margin: 0 auto; }

@media only screen and (min-width: 992px) {
  .split-list-2 {
    column-count: 2; }
  .split-list-3 {
    column-count: 3;
    margin: 0 auto; } }

.split-list-item {
  font-size: 1.5em;
  margin: 0 0 10px 0;
  justify-content: space-between; }

.hover-container {
  position: relative;
  margin: 10px; }

.hover-image {
  opacity: 1;
  display: block;
  object-fit: cover;
  width: 300px;
  height: 300px;
  transition: .3s ease;
  backface-visibility: hidden; }

.hover-text {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #ca8317;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: .5s ease; }

.hover-container:hover .hover-image {
  opacity: 0.3; }

.hover-container:hover .hover-text {
  opacity: 1; }

.click {
  cursor: pointer; }

.modal-button {
  color: white;
  background-color: #5bc0de;
  box-shadow: none; }

.modal-button:hover {
  color: #5bc0de;
  background-color: white; }

.modal-button:hover:active {
  color: #5bc0de !important;
  background-color: white !important; }

#navbar {
  text-align: center;
  background-color: #5bc0decc;
  backdrop-filter: blur(10px) saturate(125%);
  -webkit-backdrop-filter: blur(10px); }
